/* 모바일 사이드 메뉴 - only mobile */
.mo-side {
  width: 92%;
  height: 100%;
  padding: 0 20px;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 200;
  left: -92%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* .on {
  left: 0;
} */

.mo-side-dimm {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  cursor: pointer;
}

.mo-side-header {
  width: 100%;
  height: 40px;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.header-closeBtn {
  background: url("../img/header-closed@2x.png") no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
}

.mo-side-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mo-side__login-logo {
  background: url("../img/bi-black@2x.png") no-repeat;
  background-size: cover;
  width: 160px;
  height: 36px;
  margin: 20px auto;
}

.mo-side-login button {
  border: 1px solid #c3c4c6;
  border-radius: 30px;
  padding: 10px 80px;
  color: #666666;
}

.mo-side-menu {
  padding: 20px 0;
  border-bottom: 1px solid #f3f3f3;
}

.mo-side-menu li {
  padding: 15px 0;
}

.mo-side-download {
  height: 25%;
  padding-top: 20px;
}

.mo-side-download a {
  display: flex;
  align-items: center;
}

.mo-side-download img {
  width: 35px;
  height: 35px;
  margin-right: 15px;
}

.mo-side-sns p {
  font-size: var(--font-size__title-sm);
  color: #666666;
}

.mo-side-sns-list {
  display: flex;
  padding-top: 25px;
}

.mo-side-sns__icon img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
