/* 모바일 사이드 메뉴 노출 시 dimm 처리 */
.mo-side-dimm {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  cursor: pointer;
}

/* 모바일 사이드 메뉴 전체 & 좌우 슬라이드 */
.mo-side {
  width: 92%;
  height: 100%;
  padding: 0 var(--horizontal-padding);
  background-color: #fff;
  position: fixed;
  left: -92%;
  top: 0;
  bottom: 0;
  transition: left 0.7s;
  -webkit-transition: left 0.7s;
  z-index: 200;
  display: flex;
  flex-direction: column;
}

.on {
  left: 0;
}

/* 닫기 버튼 영역 */
.mo-side-header {
  width: 100%;
  height: 40px;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.header-closeBtn {
  background: url("../img/header-closed@2x.png") no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
}

/* logo,  로그인/회원가입 버튼 영역 */
.mo-side-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.mo-side__login-logo {
  background: url("../img/bi-black@2x.png") no-repeat;
  background-size: cover;
  width: 160px;
  height: 36px;
  margin: 20px auto;
}

.mo-side-login a {
  width: 96%;
}

.mo-side-login button {
  border: 1px solid #c3c4c6;
  border-radius: 30px;
  padding: 10px 0;
  width: 100%;
  color: var(--outline-btn-text);
}

/* 리스트 메뉴  */
.mo-side-menu {
  /* flex-grow: 1; */
  padding: 10px 0;
  border-bottom: 1px solid #f3f3f3;
}

.mo-side-menu li {
  padding: 10px 0;
  margin: 2px auto;
}

/* care8 DNA 앱 설치 */
.mo-side-download {
  padding-top: 20px;
  flex-grow: 2;
}

.mo-side-download a {
  display: flex;
  align-items: center;
}

.mo-side-download img {
  width: 35px;
  height: 35px;
  margin-right: 15px;
}

/* SNS 구독하기 */
.mo-side-sns p {
  font-size: var(--font-size__title-sm);
  color: #666666;
}

.mo-side-sns-list {
  display: flex;
  padding: 25px 0 20px 0;
}

.mo-side-sns__icon img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
