/* 공통 */
.container {
  width: 68%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 공통 : font */
h1 {
  font-size: var(--font-size__pc-h1);
}
h2 {
  font-size: var(--font-size__pc-h2);
}
p {
  font-size: var(--font-size__pc-p);
}

/* 네비게이션 */
.navi-menu__pc {
  display: flex;
  align-items: center;
}

.navi-menu__pc li {
  margin-left: 20px;
  padding: 8px 15px;
  font-weight: 300;
}

.navi-menu__pc li:last-child {
  color: #000;
  font-weight: 500;
  background-color: #fff;
  border-radius: 30px;
  margin-left: 40px;
}

.navi-menu__mo {
  display: none;
}

/* 네비게이션 : 스크롤 내렸을 때 css .active */
.active-menu ul li:last-child {
  color: #fff;
  background-color: #23d2f4;
}

/* 인트로1 */
.intro1-title {
  margin-top: 140px;
}

/* 인트로2 사용자 고민 */
.c-header {
  margin: 140px 0 40px 0;
}

/* care+ */
.c-phone-screen__content-lg {
  width: 115%;
}

/* 건강코칭 */
#coaching {
  margin-top: -150px;
}

.coaching-01 {
  width: 820px;
  height: 380px;
  background: url("../img/coaching-01-pc@2x.png") no-repeat center;
  background-size: contain;
}

.coaching-01-icon {
  position: relative;
  top: -20px;
  left: 450px;
}

.coaching-text {
  font-size: 20px;
}

.coaching-text-lg {
  font-size: 24px;
}

.coaching-02 {
  width: 250px;
  height: 416px;
}

.coaching-02-icon {
  position: relative;
  top: 210px;
  left: 20px;
}

/* 피드 */
.bgLocation {
  position: relative;
  top: -310px;
}

/* 보안 */
.security-img {
  width: 820px;
  height: 380px;
  background: url("../img/security-pc@2x.png") no-repeat;
  background-size: contain;
}

.security-pc-text {
  position: relative;
  top: 50px;
  left: 50px;
}

/* 자주하는 질문 */
.c-header__title-icon::after {
  width: 32px;
  height: 32px;
}

.accordion-btn {
  font-size: var(--font-size__pc-title-sm);
}

.accordion-text p {
  font-size: var(--font-size__pc-text-sm);
}

.footer-paragraph-title p {
  font-size: var(--font-size__pc-title-sm);
}

.footer-paragraph-text p {
  font-size: var(--font-size__pc-text-sm);
}
