* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a:link,
a:hover,
a:visited {
  text-decoration: none;
  color: #000;
}

button {
  padding: 14px;
  background: transparent;
  border: 0;
  outline: 0;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-weight: normal;
  font-size: 16px;
}

input {
  border: none;
  border-bottom: 1px solid #f3f3f3;
  padding: 14px;
  font-size: 16px;
}

input::placeholder {
  color: #c4c4c6;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #333333;
}
