/* 공통 */
.container {
  width: 70%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 공통 : font */
h1 {
  font-size: var(--font-size__tablet-h1);
}
h2 {
  font-size: var(--font-size__tablet-h2);
}

/* 네비게이션 */

/* 인트로1 */
.bgImage {
  background: url("../img/intro1-pc.jpg") no-repeat center/cover;
}

.intro1-title {
  margin-top: 120px;
}

/* 인트로2 사용자 고민 */
.c-header {
  margin: 110px 0 40px 0;
}

/* 결과: 카테고리 가로 스크롤 */
.slide-wrapper {
  justify-content: center;
}

/* 사용자 리뷰 */
.c-img-list__review li img {
  margin-bottom: 60px;
}

/* care+ */
.c-phone-screen__content {
  top: 130px;
}

.c-phone-screen__content-lg {
  width: 105%;
}

.phone-screen__care {
  width: 100%;
}

/* 건강코칭 */
.coaching-01 {
  width: 820px;
  height: 380px;
  background: url("../img/coaching-01-pc.png") no-repeat center;
  background-size: contain;
}

.coaching-01-icon {
  top: -20px;
  left: 390px;
}

.coaching-text {
  font-size: 20px;
}

.coaching-02 {
  width: 250px;
  height: 416px;
}

.coaching-02-icon {
  top: 210px;
  left: 20px;
}

.coaching-03 {
  width: 550px;
  height: 416px;
}

.coaching-03-img {
  top: 30px;
  left: 40px;
}

/* 보안 */
.security-img {
  width: 820px;
  height: 380px;
  background: url("../img/security-pc.png") no-repeat;
  background-size: contain;
}

.security-pc-text {
  position: relative;
  top: 50px;
  left: 50px;
}

/* 자주하는 질문 */
.c-header__title-icon::after {
  width: 32px;
  height: 32px;
}

.accordion-btn {
  font-size: var(--font-size__pc-title-sm);
}

.accordion-text p {
  font-size: var(--font-size__pc-text-sm);
}

.footer-paragraph-title p {
  font-size: var(--font-size__pc-title-sm);
}

.footer-paragraph-text p {
  font-size: var(--font-size__pc-text-sm);
}
