:root {
  --font-size__title-sm: 14px;
  --font-size__text-sm: 12px;
  --font-size__pc-h1: 40px;
  --font-size__pc-h2: 36px;
  --font-size__pc-p: 20px;
  --font-size__pc-title-sm: 16px;
  --font-size__pc-text-sm: 14px;
  --font-size__tablet-h1: 30px;
  --font-size__tablet-h2: 26px;
  --font-color__gray: #999999;
  --horizontal-padding: 20px;
  --fill-btn__disabled: #e1e3e7;
  --fill-btn__abled: linear-gradient(to right, #2ad87a, #07d0bb);
  --fill-btn-text: #ffffff;
  --outline-btn-text: #666666;
}
